<%= form_for(@task,url: yield(:request_path)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.label t :status %>
  <%= f.select :status, Task.statuses.map { |k, v| [t(k), k] }, class: 'form-control' %>

  <%= f.label t :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label t :priority %>
  <%= f.select :priority, [1,2,3], prompt:"選択してください", class: 'form-control' %>

  <%= f.label t :expire %>
  <%= f.date_select :expire, class: 'form-control' %>

  <%= f.label t :description %>
  <%= f.text_field :description, class: 'form-control' %>

  <%= f.label :label_id, "ラベル" %>
  <div class="container">
  <%= f.collection_check_boxes :label_ids, Label.all, :id, :name, include_hidden: false do |b| %>
    <div class="row">
      <%= b.check_box(class: "col-1") %>
      <%= b.label(class: "col-4 align-top")%>
    </div>   
    <% end %>
  </div>
 
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
