<% provide(:title, 'All tasks') %>
<h1>タスク一覧</h1>
<div class="container">
  <%= render 'search' %>
  <%= link_to new_task_path, class: 'btn btn-default' do %>
  <i class="fas fa-plus-circle fa-2x" style="color:cadetblue"></i>
   <% end %>
    <table class="table">
        <thead>
            <tr class="table-info">
            <%# sortable内部でparamsのvalueと比較を行うためsymbolではなく文字列で渡す %>
                <th scope="col"><%= sort_link(@q, :id, t('id')) %></th>
                <th scope="col"><%= sort_link(@q, :name, t('name')) %></th>
                <th scope="col"><%= sort_link(@q, :status, t('status')) %></th>
                <th scope="col"><%= sort_link(@q, :label, t('label')) %></th>
                <th scope="col"><%= sort_link(@q, :priority, t('priority')) %></th>
                <th scope="col"><%= sort_link(@q, :expire, t('expire')) %></th>
                <th scope="col"><%= sort_link(@q, :created_at, t('created_at')) %></th>
                <th scope="col"><%= sort_link(@q, :updated_at, t('updated_at')) %></th>
                <th scope="col" colspan = "3">アクション</th>
            </tr>
        </thead>
        <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <th scope="row"><%= task.id %></th>
                <td><%= task.name %></td>
                <td><%= t task.status %></td>
                <td><%= task.label %></td>
                <td><%= t task.priority %></td>
                <td><%= l task.expire %></td>
                <td><%= l task.created_at %></td>
                <td><%= l task.updated_at %></td>
                <td><%= link_to task do %>
                <i class="fas fa-search-plus fa-2x" style="color:cadetblue"></i>
                <% end %>
                </td>
                <td><%= link_to edit_task_path(task) do %>
                <i class="fas fa-edit fa-2x" style="color:cadetblue"></i>
                <% end %>
                </td>
                <td><%= link_to task, method: :delete ,data: {confirm: "本当に削除しますか？"} do %>
                <i class="fas fa-trash-alt fa-2x" style="color:cadetblue"></i>
                <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <%= paginate @tasks, theme: 'twitter-bootstrap-4' %>
</div>

